services:
  - type: web
    name: todo-app-backend
    runtime: docker
    dockerfilePath: ./backend/artif/Dockerfile
    dockerContext: .
    envVars:
      - key: MONGODB_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: PORT
        value: 8080
